PORT=3000
MONGO_DB_URL=WHASSAPP PE SHARE KI HAI 
GEMINI_API_KEY=your_individual_api_key_here
JWT_SECRET='XYZ1234567890PQR'
GEMINI_API_KEY=xyz
VITE_API_BASE_URL=http://localhost:3001/api
VITE_USE_MOCK_API=false